* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-app: #f2f2f2;
  --clr-link: rgb(201, 99, 15);
}
/* Navbar */


.navbar {
  padding: 2rem;
  background-color: var(--clr-app);
}

.navbar .menu{
  display: flex;
  justify-content: flex-end;
}

.menu {
  list-style-type: none;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.menu-link:hover {
  color: var(--clr-link);
}

/* Sites */

div h1 {
  font-weight: bold;
  margin: 3rem;
  text-align: center;
}

tbody {
  cursor: pointer;
}

th {
  padding: 0.8rem;
}

.table {
  width: 90%;
  margin: 0 auto;
}

thead {
  background: black;
  color: aliceblue;
}

td {
  padding: 0.4rem;
  text-align: center;
}

.bgColorOdd {
  background-color: rgb(185, 192, 192);
}

.bgColorEven {
  background-color: rgb(142, 155, 155);
}